
.home_banner_area .box_1300{
    min-height: 500px !important;
    width: 80%;
    margin-left: 130px;
    padding-top: 100px;
}

.banner_content{
    margin-left: 30px;
}

.my_img{
    margin-top: 30px;
    margin-left: 220px;
    border-radius: 77px;
}

.my_imgg {
    border: 3px solid #81bafe;
    width: 190px;
    border-radius: 80px;
}

.banner_innerr{
position: relative;
width: 100%;
display: flex;
}

.tab-pane{
    margin-top: -70px;
    margin-left: 44px !important;
}

.welcome_texttt{
    margin-top: 80px;
    font-size: 20px;
    max-width: 100% !important;
    
}

.welcome_text ,h4{
	color: black;
	font-size: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
	}
	
.welcome_text p{
	max-width: 495px;
	margin-bottom: 40px;
}


.rrr{
    margin-left: 80px;
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; 
    margin-left: 50px;
    font-size: 20px;
}
section.resume-section .resume-item .resume-date {
    min-width: none; 
}

@media (min-width: 768px) {
    section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
    min-width: 18rem; } }

@media (min-width: 992px) {
    section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

.bg-primary {
    background-color: #BD5D38 !important; }

.text-primary {
    color: #BD5D38 !important; }

a {
    color: #BD5D38; }
    a:hover, a:focus, a:active {
    color: #824027; 
}

    section.resume-section {
        border-bottom: 1px solid #dee2e6;
        padding-top: 5rem!important;
        padding-bottom: 5rem!important;
    }
    
    section.resume-section .resume-item .resume-date {
        min-width: none;
    }
    
    @media (min-width: 768px) {
        section.resume-section {
            min-height: 100vh;
        }
    
        section.resume-section .resume-item .resume-date {
            min-width: 18rem;
        }
    }
    
    @media (min-width: 992px) {
        section.resume-section {
            padding-top: 3rem!important;
            padding-bottom: 3rem!important;
        }
    }
    
    .bg-primary {
        background-color: #bd5d38!important;
    }
    
    .text-primary {
        color: #bd5d38!important;
    }
    
    a {
        color: #bd5d38;
    }
    
    a:active, a:focus, a:hover {
        color: #824027;
    }

/* shshsh */
section.resume-section h2{
    font-size: 40px;
}

section.resume-section h2 ,.work{
    color: black;
    text-transform: uppercase;
}

   /* Style for the tooltip */
   .smya {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Style for the tooltip text */
.smya::after {
    content: attr(data-smya);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show the tooltip text on hover */
.smya:hover::after {
    opacity: 1;
    }

.myinfr{
    margin-left: 40%;
}

.home_banner_area .banner_inner .banner_content .media .d-flex img {
    width: 70%;
    }